<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.zlsrj.wms.generator.mapper.TableFieldMapper">
	<select id="selectTableFieldList" parameterType="java.util.Map"
		resultType="com.zlsrj.wms.generator.entity.TableField">
		SELECT
		column_name,
		ordinal_position,
		column_default,
		is_nullable,
		data_type,
		character_maximum_length,
		character_octet_length,
		numeric_precision,
		numeric_scale,
		column_key,
		extra,
		column_comment
		FROM
		INFORMATION_SCHEMA.COLUMNS
		WHERE table_schema=#{schema} 
		AND table_name = #{name} 
		order by ordinal_position
	</select>


</mapper>