<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlsrj.wms.saas.mapper.TenantPriceItemMapper">
	<select id="selectAggregation" resultType="com.zlsrj.wms.api.entity.TenantPriceItem">
		SELECT
			count(id) as id,
			sum(price_item_code) as price_item_code,
			sum(price_item_tax_rate) as price_item_tax_rate
		FROM tenant_price_item
		${ew.customSqlSegment} 
	</select>
</mapper>