<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zlsrj.wms.saas.mapper.TenantConfigWxMapper">
	<select id="selectAggregation" resultType="com.zlsrj.wms.api.entity.TenantConfigWx">
		SELECT
			count(id) as id,
			sum(wx_arrears_days) as wx_arrears_days,
			sum(wx_arrears_notice_day) as wx_arrears_notice_day
		FROM tenant_config_wx
		${ew.customSqlSegment} 
	</select>
</mapper>